{% extends 'shop/basic.html' %}
{% block head %}
{% load static %}
<link href="{% static 'css/prod_view.css' %}" rel="stylesheet" />
{% endblock head %}
{% block title %}AV Shopping - {{product.name}}{% endblock title %}
{% block style %}
.img-fluid{
    max-height: 100%;
    width: 50%;
}

.s_Product_carousel{
    margin-left: 250px;
    margin-top: 45px;
}

.container {
    max-width: 1200px;
    margin: -62px auto;
    padding: 15px;
    display: flex;
}

.Spec{
    margin-top: 55px;
    color: #41798f;
}

.details{
    margin: 0px 300px;
}

.about_phone{
    font-weight: bold;
    font-size: 20px;
}

<!-- .buttons{
padding-top: 50px;
}
.col-md-8{
padding-left: 60px;
}

.navbar-dark .navbar-brand {
color: #fff;
font-family: cursive;
}

.nav-item{
color: #fff;
font-family: cursive;
} -->

{% endblock style %}
{% block body %}

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="/media/{{product.image}}" alt="image here">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product.name}}</h3>
                    <h2>Rs. {{product.price}}</h2>
                    <ul class="list">
                        <li><a class="active"><span>Category</span> : {{product.category}}</a></li>
                        <li><a><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    {% if product.name in cart_items_list %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn disabled" type="button">Added to Cart</a>
                    </div>
                    {% else %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn cart" data-id="{{product.id}}" type="button">Add to Cart</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn no_cart" data-id="{{product.id}}" type="button">Add to Cart</a>
                    </div>
                    {% endif %}
                    <!-- {% for dec in desc %}
                    <li>
                        <p style="color:black;">{{dec}}</p>
                    </li>
                    {% endfor %} -->
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
    </form>
</div>
<h3 class="text-center Spec">Specifications :</h3>
<div class="details">
    <p class="about_phone">Brand&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.brand}}</span></p>
    <p class="about_phone">Model Name&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.model_name}}</span></p>
    <p class="about_phone">Manufacturer&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.manufacturer}}</span></p>
    <p class="about_phone">Country of Origin&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.country_of_origin}}</span></p>
    <p class="about_phone">Item Weight&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.item_weight}}</span></p>
    <p class="about_phone">OS&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.os}}</span></p>
    <p class="about_phone">Color&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.color}}</span></p>
    <p class="about_phone">Network Service Provider&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.network_service_provider}}</span></p>
    <p class="about_phone">Cellular Technology&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.cellular_technology}}</span></p>
    <p class="about_phone">Whats in the box&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.whats_in_the_box}}</span></p>
    <p class="about_phone">Proccessor&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.proccessor}}</span></p>
    <p class="about_phone">RAM&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.ram}}</span></p>
    <p class="about_phone">Storage&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.storage}}</span></p>
    <p class="about_phone">Fingerprint Sensor&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.fingerprint_sensor}}</span></p>
    <p class="about_phone">Product Dimensions&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.product_dimensions}}</span></p>
    <p class="about_phone">Battery&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.battery}}</span></p>
    <p class="about_phone">Connectivity technologies&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.connectivity_technologies}}</span></p>
    <p class="about_phone">GPS&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.gps}}</span></p>
    <p class="about_phone">Display technology&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.display_technology}}</span></p>
    <p class="about_phone">Camera features&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.camera_fetures}}</span></p>
    <p class="about_phone">Audio Jack&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.audio_jack}}</span></p>
    <p class="about_phone">Special features&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;<span>{{product.special_features}}</span></p>
</div>
{% endblock body %}
{% block js %}
<script>
    $('.no_cart').on('click', function () {
        toastr.info('Please sign in to your account for use cart!')
        $('.toast').css('background-color', '#2f96b4');
    })

    $('#list_items').append('<button type="button" id="cart_btn" class="btn btn-light mx-3">Cart(<span id="cart_len">{{len_cart}}</span>)</button>')

    $('#cart_btn').on('click', function () {
        if ($('#cart_len').text() > 0) {
            window.location = '/cart';
        }
        else {
            toastr.info('Your cart is empty, Please add some items in your cart!');
            $('.toast').css('background-color', '#2f96b4');
        }
    });

    $('.cart').on('click', function () {
        let self = $(this);
        let product_id = self.attr('data-id');
        data = {
            'product_id': product_id,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'shophome' %}",
            data: data,
            success: function (data) {
                if (data.success == 'Item added to cart.') {
                    $('#cart_len').text(data.len_cart);
                    toastr.success(data.success);
                    $('.toast').css('background-color', '#51a351');
                    self.removeClass('cart');
                    self.text('Added to Cart');
                    self.addClass("disabled")
                }
                else {
                    toastr.success(data.error);
                    $('.toast').css('background-color', '#bd362f');
                }
            }
        })
    })


</script>
{% endblock js %}