{% extends 'shop/basic.html' %}
{% block head %}
{% load static %}
<link href="{% static 'css/prod_view.css' %}" rel="stylesheet" />
{% endblock head %}
{% block title %}AV Shopping - {{product.name}}{% endblock title %}
{% block style %}
<!-- .buttons{
padding-top: 50px;
}
.col-md-8{
padding-left: 60px;
}

.navbar-dark .navbar-brand {
color: #fff;
font-family: cursive;
}

.nav-item{
color: #fff;
font-family: cursive;
} -->

{% endblock style %}
{% block body %}

<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="/media/{{product.image}}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{product.name}}</h3>
                    <h2>Rs. {{product.price}}</h2>
                    <ul class="list">
                        <li><a class="active"><span>Category</span> : {{product.category}}</a></li>
                        <li><a><span>Availibility</span> : In Stock</a></li>
                    </ul>
                    {% if user.is_authenticated %}
                    {% if product.name in cart_items_list %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn disabled" type="button">Added to Cart</a>
                    </div>
                    {% else %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn cart" data-id="{{product.id}}" type="button">Add to Cart</a>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="card_area d-flex align-items-center my-3">
                        <a class="btn primary-btn no_cart" data-id="{{product.id}}" type="button">Add to Cart</a>
                    </div>
                    {% endif %}
                    {% for dec in desc %}
                    <li>
                        <p style="color:black;">{{dec}}</p>
                    </li>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
    </form>
</div>
{% endblock body %}
{% block js %}
<script>
    $('.no_cart').on('click', function () {
        toastr.info('Please sign in to your account for use cart!')
        $('.toast').css('background-color', '#2f96b4');
    })

    $('#list_items').append('<button type="button" id="cart_btn" class="btn btn-light mx-3">Cart(<span id="cart_len">{{len_cart}}</span>)</button>')

    $('#cart_btn').on('click', function () {
        if ($('#cart_len').text() > 0) {
            window.location = '/cart';
        }
        else {
            toastr.info('Your cart is empty, Please add some items in your cart!');
            $('.toast').css('background-color', '#2f96b4');
        }
    });

    $('.cart').on('click', function () {
        let self = $(this);
        let product_id = self.attr('data-id');
        data = {
            'product_id': product_id,
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'shophome' %}",
            data: data,
            success: function (data) {
                if (data.success == 'Item added to cart.') {
                    $('#cart_len').text(data.len_cart);
                    toastr.success(data.success);
                    $('.toast').css('background-color', '#51a351');
                    self.removeClass('cart');
                    self.text('Added to Cart');
                    self.addClass("disabled")
                }
                else {
                    toastr.success(data.error);
                    $('.toast').css('background-color', '#bd362f');
                }
            }
        })
    })


</script>
{% endblock js %}