{% extends 'shop/basic.html' %}

{% block style %}
{% endblock style %}

{% block body %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{user.image.url}}"><span class="font-weight-bold">{{user.username}}</span></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input id="edit_fname" type="text" class="form-control" value="{{user.first_name}}"></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input  id="edit_lname" type="text" class="form-control" value="{{user.last_name}}"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email</label><input id="edit_email"  type="text" class="form-control" value="{{user.email}}"></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input id="edit_phone"  type="text" class="form-control" value="{{user.phone}}"></div>
                    <div class="col-md-12"><label class="labels">Address Line 1</label><input id="edit_addrs1"  type="text" class="form-control" value="{{user.address_line1}}"></div>
                    <div class="col-md-12"><label class="labels">Address Line 2</label><input id="edit_addrs2"  type="text" class="form-control" value="{{user.address_line2}}"></div>
                    <div class="col-md-12"><label class="labels">Pin Code</label><input id="edit_pin_code"  type="text" class="form-control" value="{{user.pin_code}}"></div>
                    <div class="col-md-12"><label class="labels">City</label><input id="edit_city"  type="text" class="form-control" value="{{user.city}}"></div>
                    <div class="col-md-12"><label class="labels">State</label><input id="edit_state"  type="text" class="form-control" value="{{user.state}}"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}